.header__burger-btn {
  display: none;
}

@media screen and (max-width: 425px) {
  .header__burger-btn {
    display: block;
    position: relative;
    width: 24px;
    height: 21px;
    cursor: pointer;
    background-repeat: no-repeat;
  }

  .header__burger-btn:before {
    content: '';
    background-color: #FFFFFF;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 0;
  }

  .header__burger-btn:after {
    content: '';
    background-color: #FFFFFF;
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .header__burger-btn span {
    background-color: #FFFFFF;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 9px;
  }
}